<p id="notice"></p>

<p>
<div class="title">
	<strong>Title:</strong>
</div>
  <%= @post.title %>
  <div class="palindrome" >Palindrome: <%= @fancifier.title %>
  </div>

</p>

<p>
  <strong>Photo:</strong>
  <div class="image">
  <%= image_tag(@post.photo.url, alt: 'Image') if @post.photo? %>
  </div>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
